body{
    font-family: 'Montserrat', sans-serif;
}
.WebStudio{
font-weight: 700;
font-size: 26px;
color: #2196F3 ;
color: #000;
}
.Студия{
font-weight: 500;
font-size: 14px;
color: #2196F3;
}
.Портфолио{
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}
.Контакты{
font-weight: 500;
font-size: 14px;
 color: #212121;;
}
.background{
    background: #2F303A;
}
.Эффективные-решения{
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
}
.Услуга{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}
.Title{
    font-weight: bold;
     font-size: 14px;
     color: #212121; 
}
.Descriere{
font-weight: normal;
font-size: 14px;
color: #757575;
}
.What-are-we-doind{
    font-weight: bold;
   font-size: 36px;
   color: #212121;

}
.Names{
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.WebStudio2{
    font-weight: bold;
     font-size: 26px;
     color: #2196F3;
}